<div id="pocket">
  <br> Saldo twojego konta wynosi: <p id="pckt"></p>
  <a href="myCasinoPocketPage.html">Doładuj portfel</a>
</div>
<div id="content">
  <form>
    Ile chcesz obstawić:<input type="text" name="money" id="mny"><br><br>
    Na jaki kolor chcesz obstawić:
    <p style="color: red;"><input type="radio" name="kolor" value="Czerwony" checked>Czerwony</p>
    <p style="color: black;"><input type="radio" name="kolor" value="Czarny">Czarny</p>
    <p style="color: green;"><input type="radio" name="kolor" value="Zielony">Zielony</p>
    <button type="button" class="btn btn-warning">Losuj kolor</button>
  </form>
  <p id="text"></p>
  <p id="wonn"></p>
</div>
