#pocket{
    width: 20%;
    background-color: #990000;
    border-top: dotted 2px;
    height: 140px;
    float: left;
    color: #CC9900;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    text-align: center;
    font-size: large;
}
#content{
    width: 30%;
    background-color: #990000;
    border-top: dotted 2px;
    padding: 10px;
    padding-top: 5%;
    color: #CC9900;
    margin: auto;
    height: 400px;
    font-size: large;
    text-align: center;
}
