
#header{
    width: 100%;
    border-top-left-radius:40px ;
    border-top-right-radius:40px ;
    border-bottom-right-radius:40px ;
    background-color: #990000;
    padding: 10px;
    color: #CC9900;
    margin: auto;
    height: 90px;
    font-size: large;
}
#hcenter{
    float: left;
    text-align: center;
    width: 50%;
    padding-top: 1%;
}
#left{
    width: 25%;
    float: left;
}
#right{
    float: right;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 50px;
}
#logopng{
    width: 30%;
    height: 30%;
    border-radius: 50px;
    padding: 5px;
}
