<div id="header">
  <div id="left"> <a href="file:///D:/folderkuby/MyCasino/myCasinoMainPage.html"><img src="assets/img/logo.png" alt="logo mycasino" id="logopng"></a>
  </div>
  <div id="hcenter">Użytkowniku z ID {{user}}, Witaj w MyCasino!</div>
  <div id="right"><form>
    <p>Zmienić użytkownika?</p>
    <input type="text" size = "8">
    <button type="button" class="btn btn-primary" (click)='changeUser()'>Zmień</button>
  </form></div>
</div>
