#roulette{
    width: 30%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-color: #990000;
    padding: 10px;
    padding-top: 5%;
    color: #CC9900;
    margin: auto;
    height: 400px;
    font-size: large;
    text-align: center;
}
.ruletka{
    width: 80%;
    overflow: hidden;
    transition-duration: 5s;
    transition-property: transform;
}
.ruletka-flip{
    transform: rotate(3083deg);
     -webkit-transform:rotate(3083deg);
     -ms-transform:rotate(3083deg);
    -moz-transform:rotate(3083deg);
    -o-transform:rotate(3083deg);
}
