/* You can add global styles to this file, and also import other style files */
body{
    background-color:#333333;
}
a{
    text-decoration: none;
    color:  #CC9900;
}
a:visited{
    text-decoration: none;
    color:  #CC9900;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #f1c84a;
}
.input{
font-size: normal;
}
